<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencangblue.iwps.dao.AdministratorsDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
<!-- 目的：为dao接口方法提供sql语句配置 -->
<select id="queryById" resultType="Administrators" parameterType="long">
    <!-- 具体的sql -->
    SELECT
    AdministratorId,
    name,
    number,
    detail
    FROM
    Administrators
    WHERE
    AdministratorId = #{AdministratorsId}
</select>

<select id="queryAll" resultType="Administrators">
    SELECT
    AdministratorId,
    name,
    number,
    detail
    FROM
    Administrators
    ORDER BY
    AdministratorId
    LIMIT #{offset}, #{limit}
  </select>

<update id="updateAdministrators" parameterType="Administrators">
    UPDATE Administrators
    SET NAME = #{name},
    NUMBER = #{number},
    detail = #{detail}
    WHERE
    book_id = #{AdministratorsId}
    AND number > 0
  </update>

<insert id="addAdministrators">
    INSERT INTO Administrators(`AdministratorId`, `name`, `number`,`detail`)
    VALUES(#{AdministratorId}, #{name}, #{number}, #{detail})
  </insert>

<delete id="deleteAdministratorsById">
    DELETE FROM Administrators WHERE AdministratorId = #{AdministratorId}
  </delete>
</mapper>