<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shencangblue.iwps.dao.AdministratorsDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
<!-- 目的：为dao接口方法提供sql语句配置 -->
<select id="queryById" resultType="Administrators" parameterType="long">
    <!-- 具体的sql -->
    SELECT
    administratorId,
    name,
    avatar,
    swimmingPoolId,
    password,
    detail,
    FROM
    Administrators
    WHERE
    AdministratorId = #{AdministratorsId}
</select>

<select id="queryAll" resultType="Administrators">
    SELECT
    administratorId,
    name,
    avatar,
    swimmingPoolId,
    password,
    detail
    FROM
    Administrators
    ORDER BY
    AdministratorId
    LIMIT #{offset}, #{limit}
  </select>

<update id="updateAdministrators" parameterType="Administrators">
    UPDATE Administrators
    SET name = #{name},
    avatar = #{avatar},
    swimmingPoolId = #{swimmingPoolId},
    password = #{password},
    detail = #{detail},
    WHERE
    administratorId = #{AdministratorId}
    AND number > 0
  </update>

<insert id="addAdministrators">
    INSERT INTO Administrators(`administratorId`, `name`,`avatar`,`swimmingPoolId`,`password`,`detail`)
    VALUES(#{AdministratorId}, #{name}, #{avatar},#{swimmingPoolId},#{password},#{detail})
</insert>

<delete id="deleteAdministratorsById">
    DELETE FROM Administrators WHERE AdministratorId = #{AdministratorId}
  </delete>
</mapper>